.App {
  height: 100vh;
  min-height: 100vh;
  max-height: 100vh;
  text-align: center;
  display: flex;
  flex-direction: column;
  background: rgb(0, 0, 0);
  background: linear-gradient(
    180deg,
    rgba(0, 0, 0, 1) 0%,
    rgba(44, 1, 54, 1) 47%,
    rgba(64, 1, 80, 1) 100%
  );
  color: white;
}

.background-image {
  position: absolute;
  height: 100%;
  width: 100%;
  background-image: url("/public/background.png");
  background-position: center;
  display: flex;
  flex-direction: column;
  background-size: cover;
}

.controls {
  padding: 0vw 20vw;
  margin-top: -40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.score {
  font-size: 2rem;
}

.title h1 {
  position: relative;
  font-size: 3rem;
  text-transform: uppercase;
  z-index: 1;
}

.title h1::before,
.title h1::after {
  content: attr(data-text);
  position: absolute;
  top: 0;
  font-size: 3rem;
  z-index: -1;
  display: flex;
  transform: translateX(-50%);
}

.title h1::before {
  color: #fb00fb;
  top: 2.5px;
  left: calc(50%);
}

.title h1::after {
  color: #00f1f1;
  top: -2.5px;
  left: calc(50%);
}

.reset-control {
  margin-top: 30px;
  padding: 0vw 20vw;
  display: flex;
  justify-content: start;
}

.reset-button {
  background-color: rgba(0, 0, 0, 0.477);
  color: white;
  border: none;
  border-radius: 10px;
  padding: 8px 30px;
  font-size: large;
}

.reset-button:hover {
  cursor: pointer;
  background-color: rgba(39, 39, 39, 0.477);
  border: 4px solid #fb00fb;
  margin: -2px;
}

.audio:hover {
  cursor: pointer;
}

.game-over {
  position: absolute;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.908);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  z-index: 1;
}

.game-over-text {
  margin-top: 15%;
  margin-bottom: 50px;
  font-size: 6rem;
  text-align: center;
}

.game-over-active {
  display: block;
}

.game-over-inactive {
  display: none;
}

.play-again {
  background-color: rgba(0, 0, 0, 0.477);
  color: white;
  border: 4px solid #fb00fb;
  border-radius: 10px;
  padding: 8px 30px;
  font-size: x-large;
}

.play-again:hover {
  cursor: pointer;
  background-color: rgba(39, 39, 39, 0.477);
  border: 4px solid #fb00fb;
}

.instructions {
  position: absolute;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgb(0, 0, 0);
  background: linear-gradient(
    180deg,
    rgba(0, 0, 0, 1) 0%,
    rgba(44, 1, 54, 1) 47%,
    rgba(64, 1, 80, 1) 100%
  );
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  z-index: 1;
}

.instructions-text {
  font-size: 1.2rem;
  text-align: center;
  padding: 0 35vw;
  line-height: 30px;
}

.instructions-title {
  margin-bottom: 50px;
  font-size: 3rem;
  text-align: center;
}

.instructions-active {
  display: block;
}

.instructions-inactive {
  display: none;
}

@media screen and (hover: hover) and (pointer: fine) and (min-width: 600px) {
  .tile {
    width: 12vw;
    height: 12vw;
    margin: 0.8vw;
    border-radius: 15px;
    border: 3px solid #ffffff00;
  }

  .tile:hover {
    width: 12.5vw;
    height: 12.5vw;
    margin: -0.6vw 0.55vw;
    transition: 0.3s;
  }

  .tile-1-active,
  .tile-2-active,
  .tile-3-active,
  .tile-4-active {
    margin: -1vw 0.8vw;
  }

  #tile-1 {
    background: #fb00fb;
  }

  #tile-1:hover,
  .tile-1-active,
  .tile-1:active {
    background: #ffabff;
    box-shadow: 0 0 40px #fb00fb,
                inset 0 0 60px #fb00fb,
                inset 0 0 80px #ffabff;
    border: 3px solid white;
  }

  #tile-2 {
    background: #00f1f1;
  }

  #tile-2:hover,
  .tile-2-active,
  .tile-2:active {
    background: #a8ffff;
    box-shadow: 0 0 40px #00f1f1,
                inset 0 0 60px #00f1f1,
                inset 0 0 80px #a8ffff;
    border: 3px solid white;
  }

  #tile-3 {
    background: #b7ff5a;
  }

  #tile-3:hover,
  .tile-3-active,
  .tile-3:active {
    background: #daffa9;
    box-shadow: 0 0 40px #91ff00,
                inset 0 0 60px #88eb06,
                inset 0 0 80px #daffa9;
    border: 3px solid white;
  }

  #tile-4 {
    background: #ff4444;
  }

  #tile-4:hover,
  .tile-4-active,
  .tile-4:active {
    background: #ffbaba;
    box-shadow: 0 0 40px #ff4444,
                inset 0 0 60px #ff4444,
                inset 0 0 80px #ffbaba;
    border: 3px solid white;
  }
}

@media screen and (hover: hover) and (pointer: fine) and (max-width: 600px) {
  .tile {
    width: 30vw;
    height: 30vw;
    margin: 0.8vw;
    border-radius: 15px;
    border: 3px solid #ffffff00;
  }

  .tile:active {
    width: 31vw;
    height: 31vw;
    margin: -10vw 0.4vw;
    transition: 0.2s;
  }

  #tile-1 {
    background: #fb00fb;
  }

  #tile-1:hover,
  .tile-1-active,
  .tile-1:active {
    background: #ffabff;
    box-shadow: 0 0 40px #fb00fb,
                inset 0 0 60px #fb00fb,
                inset 0 0 80px #ffabff;
    border: 3px solid white;
  }

  #tile-2 {
    background: #00f1f1;
  }

  #tile-2:hover,
  .tile-2-active,
  .tile-2:active {
    background: #a8ffff;
    box-shadow: 0 0 40px #00f1f1,
                inset 0 0 60px #00f1f1,
                inset 0 0 80px #a8ffff;
    border: 3px solid white;
  }

  #tile-3 {
    background: #b7ff5a;
  }

  #tile-3:hover,
  .tile-3-active,
  .tile-3:active {
    background: #daffa9;
    box-shadow: 0 0 40px #91ff00,
                inset 0 0 60px #88eb06,
                inset 0 0 80px #daffa9;
    border: 3px solid white;
  }

  #tile-4 {
    background: #ff4444;
  }

  #tile-4:hover,
  .tile-4-active,
  .tile-4:active {
    background: #ffbaba;
    box-shadow: 0 0 40px #ff4444,
                inset 0 0 60px #ff4444,
                inset 0 0 80px #ffbaba;
    border: 3px solid white;
  }
}

@media only screen and (max-width: 600px) {
  .App {
    min-height: 100%;
    max-height: 100%;
    display: flex;
    flex-direction: column;
    background: rgb(0, 0, 0);
    background: linear-gradient(
      180deg,
      rgba(0, 0, 0, 1) 0%,
      rgba(44, 1, 54, 1) 47%,
      rgba(64, 1, 80, 1) 100%
    );
  }

  .simon-says-logo {
    max-width: 200px;
  }

  .instructions-text {
    padding: 0 35px;
    font-size: 1.05rem;
  }

  .title h1 {
    position: relative;
    font-size: 3rem;
    text-transform: uppercase;
    z-index: 1;
    padding: 0 100px;
  }

  .title h1::before,
  .title h1::after {
    content: attr(data-text);
    position: absolute;
    top: 0;
    font-size: 3rem;
    z-index: -1;
    display: flex;
    transform: translateX(-50%);
  }

  .title h1::before {
    color: #fb00fb;
    top: 2.5px;
  }

  .title h1::after {
    color: #00f1f1;
    top: -2.5px;
  }

  .reset-control {
    display: flex;
    justify-content: center;
  }

  .tile {
    width: 30vw;
    height: 30vw;
    margin: 0.8vw;
    border-radius: 15px;
    border: 3px solid #ffffff00;
  }

  .tile:active, 
  .tile-1-active,
  .tile-2-active,
  .tile-3-active,
  .tile-4-active {
    width: 31vw;
    height: 31vw;
    margin: -10vw 0.3vw;
    transition: 0.2s;
  }

  #tile-1 {
    background: #fb00fb;
  }

  #tile-1:active,
  .tile-1-active {
    background: #ffabff;
    box-shadow: 0 0 40px #fb00fb, 
                inset 0 0 60px #fb00fb,
                inset 0 0 80px #ffabff;
    border: 3px solid white;
  }

  #tile-2 {
    background: #00f1f1;
  }

  #tile-2:active,
  .tile-2-active {
    background: #a8ffff;
    box-shadow: 0 0 40px #00f1f1, 
                inset 0 0 60px #00f1f1,
                inset 0 0 80px #a8ffff;
    border: 3px solid white;
  }

  #tile-3 {
    background: #b7ff5a;
  }

  #tile-3:active,
  .tile-3-active {
    background: #daffa9;
    box-shadow: 0 0 40px #91ff00,
                inset 0 0 60px #88eb06,
                inset 0 0 80px #daffa9;
    border: 3px solid white;
  }

  #tile-4 {
    background: #ff4444;
  }

  #tile-4:active,
  .tile-4-active {
    background: #ffbaba;
    box-shadow: 0 0 40px #ff4444, 
                inset 0 0 60px #ff4444,
                inset 0 0 80px #ffbaba;
    border: 3px solid white;
  }
}
